* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: "Roboto", sans-serif;
color: #7a6c0f;
background-color: #f0ecd1;

}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 50px;
  background: #D6E9FE;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.column:nth-child(2) {
  border-width: 0px 1px;
  border-color: #7a6c0f;
}
