* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: "Roboto", sans-serif;
color: #7a6c0f;
background-color: #f0ecd1;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  top: 0;
  width: 100%;
  padding: 10px;
  height: 250px;
  align-items: center;
  background: #D6E9FE;
}

.menu {
  display: flex;
  justify-content: center;
  width: 67%;
  margin-top: 15px;
}

.menu > li {
  display: inline;
  margin-right: 50px;
  font-size: 2em;
  text-align: center;
}

.container {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  margin-top: 250px;
}

.column {
  text-align: center;
  width: 33%;
  height: calc(100vh - 250px);
  overflow: scroll;
}
.column:nth-child(2) {
  border-width: 0px 1px;
  border-color: #7a6c0f;
  border-style: solid;
}

.logo {
  width: 33%;
  padding-right: 100px;
}

.images {
  max-height: 250px;
  max-width: 100%;
}

.storytitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding: 20px 20px 0px 20px;
  line-height: 1em;
}

.story {
  font-family: "Roboto Condensed", sans-serf;
  font-size: 1em;
  padding: 20px;
  line-height: 1em;
  text-align: justify;
}
