* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f0ecd1;
}

.container {
  margin: 0 auto;
}


h1 {
  color: #292e2c;
  font-size: 3em;
  text-align: center;
  font-family: "Roboto Condensed Bold", sans-serif;
}

.copy {
  color: #292e2c;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}

.pictures {
  display: flex;
  justify-content: center;
}

.picture {
  height: 300px;
  padding: 15px;
  border: 1px solid #636361;
  margin: 20px;
}

.section:nth-child(even) {
  background-color: white;
}
